<app-header></app-header>
<p>circuitos works!</p>
<br>
<div class="row" >


<div class="col - sm-12 col-md-6 col-lg-4 col-xl-3 my-2 d-flex justify-content-end" *ngFor="let t of listaTrekking1">
    <div class="card" style="width: 17rem;">
    <div class="card-header">
        <h4>{{t.titulo}}</h4>
        <img src="../../../assets/guia2/{{t.imagen}}" alt="" class="card-img-top" alt="cursos">
    </div>
    <div class="card-body" >
        <h5>{{t.descripcion}}</h5>
        <h6>Dificultad: {{t.dificultad}}  </h6>
    </div>
   <div class="footer-card">
    <h3 class="strong text-center">$ {{t.precio}}</h3>

    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-dark  btn-lg" (click)=" verDetalle(t)" >Quiero saber más</button>
      </div>
  
      
       
      </div>
   </div>
</div>
</div>



<app-footer></app-footer>