<header>
<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
   
    <a class="navbar-brand" href="#"> <strong>Carla </strong>Guía de Senderismo de Alta Montaña Leg. 016-19</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">¡Agendá tu circuito!</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body colour bg-dark">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/circuito">Circuitos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/contacto">¿Dónde nos encontramos?</a>
          </li>
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ¡Escribime!
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Consultá</a></li>
              <li><a class="dropdown-item" href="#">Agendá tu mejor circuito</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">¡Contactame!</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="text" placeholder="contactar" aria-label="contactar">
          <button class="btn btn-success" type="submit">Dejá tu contacto</button>
        </form>
      </div>
    </div>
  </div>
</nav>
</header>

