<app-header></app-header>

<p>circuitos works!</p>

<div class="row" >
<div class="col 6">

<div class="justify-content-end" >
    <div class="card" >
    <div class="card-header">
        <h4>{{t.titulo}}</h4>
        <img src="../../../assets/guia2/14.png" alt="paisaje" class="card-img-top" alt="cursos">
    </div>
    <div class="card-body" >
        <h5> Animate a vivir una experiencia ancestral. Caminar en nuestra querida quebrada. Durante el recorrido, podremos avistar la inmensidad de la quebrada. ¡Animate a conocer Jujuy! </h5>
        Formaciones rocosas impresionantes. Increíbles fotografías. Paisajes conocidos internacionalmente. Guiado de ensueño a las maravillas de la quebrada <h2>Dificultad: media</h2>
    </div>
    <div class="footer-card">
        <h3 class="strong text-center">$ 5,000 </h3>
</div>
</div>
</div>


</div>

<app-footer></app-footer>
