<app-header></app-header>
<div>

  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>

    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/guia2/tilcara - jujuy- argentina.png" class="img-fluid" lass="d-block w-100"
          alt="banner">
        <div class="carousel-caption d-none d-md-block">

        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/guia2/7.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Castillos de Wichaira</h5>
          <p>Experiencia increíble - Fantásticas fotos</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/guia2/14.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Cuevas del Wayra</h5>
          <p>Paisajes que enamoran</p>
        </div>
      </div>

    </div>
    <div container>

    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Atrás</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</div>
</div>
<div class="div-1" >


  <div class="imgme" col-2 >
    
  
    <div  class="d-flex justify-content-center">

    <img src="../../../assets/guia2/yo2.jpeg" class="rounded float-star" class= "bg-image hover-zoom" alt="..." display="inline-block" width="195px">
    <img src="../../../assets/guia2/yo3.jpeg" alt="about me" class="border=bg-dark" display="inline-block"
      width="195px">
    <img src="../../../assets/guia2/yo4.jpeg" alt="about me" class="border=bg-dark" class= "bg-image hover-zoom"display="inline-block"
      width="195px">
    <img src="../../../assets/guia2/yo5.jpeg" alt="about me" class="border=bg-dark" class= "bg-image hover-zoom" display="inline-block"
      width="195px">
    <img src="../../../assets/guia2/yo6.jpeg" alt="about me" class="border=bg-dark" class= "bg-image hover-zoom"display="inline-block"
      width="195px">
    <img src="../../../assets/guia2/yo9.jpeg" alt="about me" class="border=bg-dark"class= "bg-image hover-zoom" display="inline-block"
      width="195px">
    <img src="../../../assets/guia2/yo8.jpeg" alt="about me" class="border=bg-dark" class= "bg-image hover-zoom" display="inline-block"
      width="195px">
    </div>
  

    <div class="textme">
      <br>
      <br>
      <h2>
        Soy CARLA Guía de Senderismo
      </h2>
      <p>SOY GUÍA DE TURISMO , LO QUE MÁS AMO ES EL SENDERISMO, AMO LA NATURALEZA, LA MONTAÑA Y HACER AMIGOS
        .
        ARMAMOS UN CIRCUITO A TU MEDIDA, TENIENDO EN CUENTA LA DISTANCIA, DIFICULTAD Y LOS OBJETIVOS QUE TE PROPONGAS,
        ADEMÁS DE COONSEGUIR LAS MEJORES FOTOGRAFÍAS DE TU EXPERIENCIA. </p>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center">

</div>





<div class="bacordeon">
  <h2 style="color: rgba(230, 49, 25, 0.808);" class="d-flex justify-content-center">PREGUNTAS E INFORMACIÓN</h2>
  <br>
  <div class="d-flex justify-content-center">
  
    <div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" color="#ff6600cc" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <b> 1 - ¿Cómo llegar a Tilcara desde el AEROPUERTO?</b>
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Servicios con recorrido al Aeropuerto:
            *Empresa Gral. Savio con cartel "Aguas Calientes".
            * Empresa San José con cartel "Perico".
            .</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" color="black">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <b>2 ¿Qué formas de pago manejan?</b>
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"> Recibo todas las formas de pago: efectivo, transferencias, tarjetas de crédito,
            Pre Viaje, MercadoPago Moneda: Pesos y Dólares US </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <b>3 ¿Cuál es la duración del recorrido?</b>
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample"
          color="black">
          <div class="accordion-body"> La duración y dificultad varía dependiendo al recorrido elegido. Desde 4 a 8 hs.
            dependiendo del circuito. Poseo circuitos de baja - media -y alta dificultad </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<section>
  <footer>
    <div class="bacordeon" justify="justify-content-center">
      <div center></div>>

      <div class="d-grid gap-2">
        <button class="btn btn-dark" type="button" routerLink="/circuito"> ¡Conocé los circuitos aquí!</button>
      </div>






      <app-footer></app-footer>