/* You can add global styles to this file, and also 
import other style files */
html {
  scroll-behavior: smooth;
 
}
.div-1 {
    padding: 25px;
  background: linear-gradient(
    90deg,
    rgba(245, 32, 25, 0.526) 0%,
    rgba(251, 52, 23, 0.6947674418604651) 82%,
    rgba(226, 27, 27, 0.8633720930232558) 100%
  );
  box-align: center;
  accent-color: #ffff;
}

.imgme {
  display: inline-block;
  box-align: center;
  padding: 5px;
  margin-left: 15px;
}
.textme {
  display: inline-block;
  color: #ffff;
}

.center{
    margin: center;
    padding: 100px;
}
.co{
    margin:0 auto;
}