<div class="card text-center">
    <div class="card-header">
      <button class= "btn btn-light" type="button" routerLink="contacto">Consultas</button> 
    </div>
    <div class="card-body">
      <h5 class="card-title">¡Agendá tu próximo circuito!</h5>
      <p class="card-text">Contactame en las redes sociales</p>
      <a href="#" class="btn btn-primary" routerLink="contacto">¡Enviame un mensaje!</a>
    </div>
    <div class="card-footer text-body-secondary">
      ¿Estás listo para la aventura?
    </div>
  </div>
